# Module 12 Homework — Lists (1D + Nested Lists)

**Instructions**
- Complete each cell below.
- Write clear, readable code.
- Use comments where appropriate.
- Do **not** use global variables.
- Avoid shallow vs deep copy concepts for this assignment.

## Part A — 1D Lists: Creating, Accessing, Updating

### A1. Create a list
Create a list named `favorites` with **5 strings**.

Print:
1. The entire list
2. The first element
3. The last element

In [1]:
# TODO: Write your code here
myList = ["apple", "people", "great", "donut", "thursday"]
print(myList)
print(myList[0])
print(myList[-1])

['apple', 'people', 'great', 'donut', 'thursday']
apple
thursday

### A2. Update by index
Replace the **second** element in the list with a new string.
Print the updated list.

In [2]:
# TODO: Write your code here
myList[1] = "wonderful"
print(myList)

['apple', 'wonderful', 'great', 'donut', 'thursday']

### A3. Slicing practice
Given:
```python
nums = [10, 20, 30, 40, 50, 60, 70]
```
Print:
1. The first 3 elements
2. The last 3 elements
3. Every other element

In [5]:
nums = [10, 20, 30, 40, 50, 60, 70]
# TODO: slicing practice
print(nums[:3])
print(nums[-3:])
print(nums[::2])

[10, 20, 30]
[50, 60, 70]
[10, 30, 50, 70]

## Part B — Looping Through 1D Lists

### B1. Sum accumulator
Using a loop, compute and print the **sum** of:
```python
numbers = [4, 7, 2, 9, 5]
```

In [6]:
numbers = [4, 7, 2, 9, 5]
# TODO: compute and print the sum
sum = 0
for i in numbers:
  sum += i
print(sum)

27

### B2. Filtering values
Using a loop, build a list called `evens` that contains only the **even numbers**.
Print the list.

In [8]:
numbers = [3, 10, 7, 8, 12, 5]
# TODO: build evens list
evens = [i for i in numbers if i % 2 == 0]
print(evens)

[10, 8, 12]

## Part C — Functions with 1D Lists

### C1. Function that returns a list
Write `double_values(lst)` that returns a **new list** with each value doubled.
Call the function and print the result.

In [11]:
# TODO: Write your function and test it
def double_values(lst):
  new_list = [i * 2 for i in lst]
  return new_list

new_list = double_values(numbers)
print(new_list)

[6, 20, 14, 16, 24, 10]

## Part D — Nested Lists: Creating and Looping

### D1. Create a nested list
Create a nested list named `grid` that represents:
```
1 2 3
4 5 6
7 8 9
```

In [14]:
# TODO: Create the nested list
grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

### D2. Loop row by row
Print each row of the grid.

In [15]:
# TODO: Loop row by row
for row in grid:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

### D3. Loop through all values
Using nested loops, print each value.

In [16]:
# TODO: Loop through all values
for row in grid:
  for col in row:
    print(col)

1
2
3
4
5
6
7
8
9

### D4. Row sums
Create a list `row_sums` with the sum of each row.
Print the list.

In [18]:
# TODO: Compute row sums
row_sums = []
for row in grid:
  sum = 0
  for col in row:
    sum += col
  row_sums.append(sum)
print(row_sums)

[6, 15, 24]

## Part E — File I/O with 1D Lists

### E1. Write a list to a file
Create a list of **at least 4 strings**.
Write each item to `items.txt`, one per line.

In [32]:
# TODO: Write list to file
lst = ["hello", "world", "how", "are", "you"]
with open("items.txt", "w") as f:
  for item in lst:
    f.write(item + "\n")

### E2. Read from a file into a list
Read `items.txt` into a list named `items_from_file`.
Print the list.

In [33]:
# TODO: Read file into list
items_from_file = []
with open("items.txt", "r") as f:
  for line in f:
    items_from_file.append(line)
print(items_from_file)

['hello\n', 'world\n', 'how\n', 'are\n', 'you\n']

## Part F — Programming Problems (More Serious)
Complete **at least 4** of the problems below (your instructor may specify which ones to do). These problems are designed to combine lists, loops, functions, and file I/O.

**Rules:**
- Use functions (separation of concerns)
- Do not use global variables
- No shallow/deep copy discussion needed

### F1. Shopping List Manager (1D list + functions) (Suggested)
Write a program that maintains a shopping list (a 1D list of strings).

**Required functions:**
- `add_item(items, item)`
- `remove_item(items, item)` (remove by value if present)
- `print_items(items)` (numbered list)
- `save_items(items, filename)` (one item per line)
- `load_items(filename)` (returns a list)

**Program behavior:**
Provide a simple text menu in a loop:
1) add  2) remove  3) view  4) save  5) load  6) quit
The list should update as the user makes choices.

In [1]:
# TODO: Implement F1 here

def add_item(items, item):
  items.append(item)
def remove_item(items, item):
  items.pop(item)
def print_items(items):
  for index, item in enumerate(items):
    print(f"{index}. {item}")
def save_items(items, filename):
  with open(filename, "w") as f:
    for item in items:
      f.write(item + "\n")
def load_items(filename):
  with open(filename, "r") as f:
    load_list = []
    for line in f:
      load_list.append(line)
    return load_list

items = []
while True:
  try:
    user = input("1)add 2) remove 3) view 4) save 5) load 6) quit ")
    if user == "add":
        add = input("Which item?")
        add_item(items, add)
    elif user == "remove":
        remo = int(input("Which item number?"))
        remove_item(items, remo)
    elif user == "view":
        print_items(items)
    elif user == "save":
        filename = input("What's the file name?")
        save_items(items, filename + ".txt")
    elif user == "load":
        shopping_list = load_items(filename + ".txt")
        print(shopping_list)
    elif user == "quit":
        break
    else:
        print("Invalid. Try again")
        continue
  except ValueError:
    print("invalid input")
    continue

1)add 2) remove 3) view 4) save 5) load 6) quit add
Which item?apple
1)add 2) remove 3) view 4) save 5) load 6) quit add
Which item?banana
1)add 2) remove 3) view 4) save 5) load 6) quit add
Which item?cookie
1)add 2) remove 3) view 4) save 5) load 6) quit remove
Which item number?1
1)add 2) remove 3) view 4) save 5) load 6) quit view
0. apple
1. cookie
1)add 2) remove 3) view 4) save 5) load 6) quit quit

### F2. Grade Statistics (1D list of numbers + file input)
You will read a file of grades (one number per line) into a 1D list, then compute statistics.

**Requirements:**
- Read `grades.txt` into a list `grades`
- Compute and print: count, min, max, average
- Create a new list `curved` that adds +5 to each grade (cap at 100)
- Write `curved` to `curved_grades.txt` (one per line)

**If you don't have a `grades.txt` file, create one in code first** (write 8–12 sample grades).

In [ ]:
from contextlib import nullcontext
# TODO: Implement F2 here
grades = []
with open("grades.txt", "r") as f:
  for line in f:
    grades.append(line)

count = 0
min = None
max = None
for grade in grades:
  if min == None:
    min = grade
    max = grade
    count += 1
  elif grade < min:
    min = grade
    count +=1
  elif grade > max:
    max = grade
    count +=1

### F3. Word Cleaner (file → 1D list → processing → file)
Read a text file (e.g., `paragraph.txt`) and build a 1D list of cleaned words.

**Requirements:**
- Read the file as text
- Convert to lowercase
- Remove punctuation characters like `. , ! ? ; :` (you may replace them with spaces)
- Split into words and store in a list `words`
- Build a list `long_words` containing only words with length ≥ 6
- Write `long_words` to `long_words.txt`, one per line

**If you don't have a `paragraph.txt`, create one in code first** (write 2–4 sentences).

In [ ]:
# TODO: Implement F3 here

### F4. Seating Chart (nested list) (2D list + loops + functions)
Create a seating chart using a nested list (list of rows).

**Requirements:**
- Build a 4×5 chart filled with the string `"EMPTY"`
- Write a function `assign_seat(chart, row, col, name)` that places a name
- Write a function `print_chart(chart)` that prints each row neatly
- Assign at least 6 names to different seats
- Count how many seats are still `"EMPTY"` and print that number

**Optional extension:** Write the seating chart to a file (one row per line).

In [ ]:
# TODO: Implement F4 here